{%extends "base.html"%}

{% block content %}
      
      <div class="well">
        <div class="panel panel-default">
        	<div class="panel-body">
	            <form method='POST' action = "{%url 'edit_product' product_id=product.id%}">
  						{%csrf_token%}
  						<input type='text' name="category_name" placeholder="Category name" value="{{product.category.name}}">
              <input type='text' name="product_name" placeholder="Product name" value="{{product.name}}">
              <input type='text' name="price" placeholder="Product price" value="{{product.price}}">
  						<br/>
					    <input type="submit" value="Save">
  				</form>
        	</div>
        </div>
      </div>

{% endblock content %}