
{% extends "base.html" %}

  
{% block content %}
      
      <div class="well">
        <h1>
          {% if categories_list|length > 1 %}
            {{categories_list|length}} categories
          {% elif categories_list|length == 1 %}
            {{categories_list|length}} category
          {% else %}
            categories list empty
          {% endif %}
        </h1>
        <a href="{%url 'new_category' %}" class="btn btn-primary pull-right" role="button">Add new category</a>
        <br/>
        <br/>
        {% for category in categories_list %}
          <div class="panel panel-default">
            <div class="panel-body">
              <h2><a href="{% url 'categories_detail' category_id=category.id%}">{{category}}</a></h2>
              <div class="btn-block pull-right">
                <a href="{%url 'change_category' category_id=category.id%}" class="btn btn-primary col-xs-6" role="button">Edit</a>
                <a href="{% url 'delete_category' category_id=category.id%}" class="btn btn-danger col-xs-6" role="button">Delete</a>
              </div>
            </div>
          </div>
      {% endfor %}
      </div>

{% endblock content %}